.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.user-login-div {
	display: flex;
	justify-content: flex-end;
}
.user-login-card {
	display: flex;
	align-items: center;
	border-radius: 10px;
	background-color: lightgrey;
	padding: 10px;
}
.user-login-card .greeting {
	margin-right: 10px;
}
.user-login-card .name {
	font-weight: bold;
}
.placeholder-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px black dashed;
	padding: 10px;
	margin-bottom: 10px;
}